@import '../../less/common.less';

body {
    background-color: @color-virtual-mall-background-dark-grey;
}

.background {
    background-color: @color-virtual-mall-background-dark-grey;
    background-size: cover;
    background-repeat: no-repeat;
}
.page{
    padding-top: 92px;
    min-height: 500px;
}
.pageContent {
    @footer-height: 380px;
    #ui.footerHeight(@footer-height);
    .featureBox {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        padding-bottom: 100px;
        gap: 40px;
        .featureBtn {
            width: 100%;
            transition: all 0.5s ease;
            &:hover {
                transform: scale(1.2);
            }
        }
    }

    @media @medium-query {
        max-width: 99vw !important;
        padding-bottom: 256px !important;
    }
    @media @small-query {
        padding-bottom: 150px !important;
    }

    .text {
        color: @color-virtual-mall-white;

        min-height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;

        .bookings {
            width: 100%;

            .row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                .shop {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .calendarIcon {
                        width: 24px;
                        height: 24px;
                        background: url(/img/common/calendar.png);
                        background-size: 100%;
                        background-repeat: no-repeat;
                        background-position: center;
                        cursor: pointer;
                    
                        &:hover {
                            filter: brightness(110%);
                            transition: all 200ms ease-in-out;
                            border-color: @color-virtual-mall-white;
                        }
                    
                        &:active {
                            filter: brightness(80%);
                            transition: all 200ms ease-in-out;
                        }
                    }
                }
            }
        }
    }
}

.popoverWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .inputs {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

.delete {
    width: 24px;
    height: 24px;
    background: url(/img/common/cross.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &:hover {
        filter: brightness(110%);
        transition: all 200ms ease-in-out;
        border-color: @color-virtual-mall-white;
    }

    &:active {
        filter: brightness(80%);
        transition: all 200ms ease-in-out;
    }
}